* {
	font-family: 'PT Sans', sans-serif;
}

body {
	background-color: #CACDCD;
	margin: 0px;
}

header {
	background-color: #000;
	color: #fff;
	height: 140px;
	width: 100%;
}

.icon {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	width: 30px;
}

nav {
	display: inline-block;
	font-size: 1.15em;
	margin-top: 80px;
	text-transform: uppercase;
}

.nav-link {
	display: inline;
}

.gray-color {
	color: #CACDCD;
}

.user {
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	width: 20px;
}

.username {
	color: #9655E0;
	display: inline-block;
	float: right;
  margin-right: 12px;
	margin-top: 10px;
}

.down {
	width: 10px;
}

h1 {
	color: #fff;
	float: right;
	font-size: 2.5em;
	position: absolute;
	top: 50px;
	right: 1.5%;
}

h2 {
	background-color: transparent;
	font-size: 2.2em;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 15px;
}

.player-cards {
	background-image: url("images/baseball-field-lg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	opacity: .9;
}

.player {
	border: 2px solid black;
	box-shadow: 4px 4px 3px #303030;
	margin-bottom: 10px;
	margin-top: 20px;
	height: 460px;
	width: 320px;
}

.player-image {
	background-color: #33006F;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 2px solid black;
	height: 198px;
	width: 320px;
}

.lucroy-img {
	background-image: url("images/lucroy.png");
}

.reynolds-img {
	background-image: url("images/reynolds.png");
}

.dj-img {
	background-image: url("images/dj.png");
}

.story-img {
	background-image: url("images/story.png");
}

.arrenado-img {
	background-image: url("images/arrenado.png");
}

.parra-img {
	background-image: url("images/parra.png");
}

.blackmon-img {
	background-image: url("images/blackmon.png");
}

.cargo-img {
	background-image: url("images/cargo.png");
}

.player-number {
	color: #CACDCD;
	float: right;
	font-size: 1.75em;
	margin-right: 20px;
}

.add-player {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 40px;
}

.player-info {
	background-color: #CACDCD;
	display: flex;
	flex-direction: column;
	height: 260px;
	justify-content: flex-start;
	width: 100%;
}

.player-name {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	margin-top: 8px;
}

.debut {
	color: #505050;
	font-size: .8em;
	margin: 0;
}

.player-page {
	background-color: #B0B0B0;
	height: 50px;
	margin: 10px auto;
	overflow-wrap: break-word;
	padding: 15px 5px;
	width: 90%;
}

.walk-up {
	font-size: .85em;
	margin-top: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.song-name {
	font-size: 1.1em;
	margin-top: 0;
	overflow-wrap: break-word;
	width: 90%;
}

.rater {
	font-size: .85em;
	margin: 0;
	text-transform: uppercase;
}

.rating {
	color: #33006F;
	font-size: 1.8em;
	margin: 0;
}

.player-name,
.debut,
.player-page,
.walk-up,
.song-name,
.rater,
.rating {
	margin-left: 10px;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 1300px) {
	.player-cards {
		background-repeat: repeat;
	}
}

@media only screen and (max-width: 800px) {
	nav {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		margin-top: 0;
		margin-left: 15px;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	.nav-link {
		margin: 0;
	}

	.icon {
		width: 25px;
	}

	.top-link {
		margin-top: 15px;
	}

	.mid-link {
		margin-top: 5px;
		margin-bottom: 5px;
}

@media only screen and (max-width: 850px) {
	h1 {
		color: #c9b5e1;
    float: right;
    font-size: 49px;
    position: absolute; 
    top: 45px;
    left: 3.5%;
	}

	header {
		background-color: #000;
    color: #fff;
    height: 402px;
    width: 100%;
	}

	nav{
		display: flex;
    flex-direction: column;
    font-size: 2em;
    margin-top: 0;
    margin-left: 15px;
    padding-top: 189px;
}
	}

	.user {
		float: right;
    margin-right: 15px;
    margin-top: 17px;
    width: 50px;
	}

	.username{
		display: none;
	}

	}	.top-link {
		margin-top: 15px;
		margin-bottom: 22px;
	}

	.mid-link {
		margin-top: 5px;
		margin-bottom: 22px;
	}

}
